fastapi
uvicorn[standard]
pydantic>=2
pydantic-settings

pandas
numpy
scikit-learn
xgboost
joblib
pyyaml

mlflow

azure-identity
azure-storage-file-datalake
azure-keyvault-secrets
azure-ai-ml
azure-core
azure-monitor-opentelemetry
azure-ai-openai

requests